body{
    background-color: #F7B2B7;
}

main{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #DE639A; 
}

header{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
}

nav{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
    background-color: #7F2982;
    width: 100%;
    margin: 0;
    padding: 0;
}

#logo {
    grid-row: 1;
    grid-column: 1;
    width: 100px;
}

nav a{
    grid-row: 1;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 30px 0;
    margin: 0;
    color: #F7B2B7;
    text-decoration: none;
    font-size: 2em;
}

nav a:hover{
    background-color: #5F0962;
}

.headerImage{
    width: 100%;
    grid-row:2;
    grid-column: 1;
    height: 450px;
}

header h1{
    width: 100%;
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    padding: 10% 0;
    color: #F7B2B7;
    font-size: 3em;
}

section{
    padding: 5%;
}

section div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid #7F2982;
}

section div h2{
    grid-column: 1/4;
    grid-row: 1;
    color: #7F2982;
    font-size: 2em;
}

section div img{
    grid-column: 1;
    width: 100%;
}

section div p{
    padding: 20px;
    font-size: 1.2em;
}

.joining{
    grid-column: 1/-1;
}

footer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #7F2982;
    height:100%;
    margin: 0;
}

footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding:0;
}

footer ul li{
    list-style: none;
    font-size: 1.5em;
    display: flex;
    text-align: center;
    text-decoration: none;
    align-items: center;
    color: #F7B2B7;
    height: 100px;
}

footer ul li a{
    margin:0;
    padding: 0;
    width: 100%;
    text-decoration: none;
    color: #F7B2B7;
}
.footerLink:hover{
    background-color: #5F0962;
}

footer ul li a img{
    margin:15%;
    height:70px;
}

.accordion {
    background-color: #CE538A;
    color: #7F2982;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover{
    background-color: #FE83BA;
}

.panel {
    padding: 0 18px;
    background-color: #DE639A;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button {
    font-size: 1.5em;
}

.bold{
    font-weight: bold;
}

section div img{
    margin-top:15%;
    height: 70%;
}